/***************************************************/
/* General CSS */
/**************************************************/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Cabin&display=swap");

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f2fbe0;
    font-size: 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100vw;
}

.container {
    display: flex;
}

/***************************************************/
/* Navbar */
/**************************************************/
nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    color: white;
    background-color: #0b7a75;
}

nav ul li {
    display: inline-block;
    margin-right: 2%;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover,
ul li a:focus {
    margin-left: 3%;
    font-weight: bold;
    color: black;
}

nav .name a:hover,
nav .name a:focus {
    margin-left: 0%;
    font-size: 100%;
    color: currentColor;
}

.name {
    font-family: "Cabin", sans-serif;
    font-weight: 700;
}

#dropbtn {
    border: none;
    position: fixed;
    display: inline-block;
    right: 3vw;
    top: 1vh;
    width: 5%;
    max-height: 50px;
    max-width: 50px;
    filter: brightness(0) invert(1);
}

/***************************************************/
/* Dropdown menu */
/**************************************************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0b7a75;
}

.modal-content {
    color: #fefefe;
    font-size: 5rem;
    margin: 10vh auto;
    padding: 30px;
    width: 70%;
}

.modal-content li {
    display: block;
}

.close {
    color: white;
    position: absolute;
    left: 3%;
    top: 0;
    font-size: 5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(216, 216, 216);
    text-decoration: none;
    cursor: pointer;
}

/***************************************************/
/* Media query */
/**************************************************/
@media only screen and (min-width: 800px) {
    #dropbtn {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    nav ul a {
        display: none;
    }

    .name a {
        display: block;
    }

    .modal-content {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        max-width: 500px;
    }

    #dropbtn {
        float: right;
    }
}

/***************************************************/
/* CSS Animation */
/**************************************************/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

.slide {
    -webkit-animation-name: slidein;
    -webkit-animation-duration: 0.5s;
    animation-name: slidein;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
