/***************************************************/
/* Slideshow */
/**************************************************/
.slideshow {
    width: 100vw;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
    height: 92vh;
    filter: blur(1px) brightness(30%);
}

.slides.main img {
    width: 100%;
    height: 92vh;
    filter: blur(0) brightness(30%) hue-rotate(180deg);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
}

.dots {
    text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(11, 122, 116, 0.5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #0b7a75;
}
